//
   Created by Administrator on 2016/1/19.

extends  layout
html
    head
        title #{title}
block scripts
    script(src='/jquery.js')
    script(src='/pets.js')

block content
    h1=title
    each pet in pets
    include pet