//
   Created by Administrator on 2016/1/19.

html
     head
         h1 Mya - #{title}
         block scripts
             script(src='/jquery.js')
     body
         block content
         block foot
             p some footer content