//
   Created by Administrator on 2016/1/19.

html
    head
body
    - var items = ["one", "two", "three"]
    each item in items
            li #{item}
    - if(items)
            li a
    -else
           li b

